html {
  font-family: sans-serif, arial, verdana, helvetica, geneva;
  font-size: 0.75em;
}
hr {
  clear: left;
  color: rgb(235, 235, 235);
}
li {
  margin: 15px 0;
}
.panel {
  text-align: center;
  padding: 0px;
  margin: 20px;
}
.topbar {
  font-size: 1.25em;
  clear: left;
}
.top-title {
  font-size: 1em;
  color: rgb(180, 180, 180);
  padding-top: 30px;
  padding-left: 0px;
}
.topbar-header {
  font-size: 1.25em;
  float: left;
  padding-top: 20px;
}
.topbar-item {
  margin: 20px;
  font-size: 1.25em;
  float: left;
}
.topbar-item a {
  padding-right: 40px;
}
.topbar-logo {
  float: left;
  padding-right: 120px;
  padding-bottom: 20px;
}
.bottombar {
  font-size: 1.25em;
  clear: left;
}
.bottombar-item {
  margin: 20px;
  font-size: 1.25em;
  float: left;
}
.bottombar-item a {
  padding-right: 40px;
}
.about {
  font-size: 1.25em;
  text-align: left;
  clear: both;
  margin: 20px;
  padding-bottom: 30px;
  padding-top: 20px;
}